.camo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ffd6e0;
  min-height: 100vh;
  padding: 20px;
  gap: 10px;
  font-family: "Poppins", sans-serif;
  
}

/* ===== VIDEO ===== */
video {
  border-radius: 12px;
  border: 3px solid #ff4d94;
  max-width: 80vw;
  max-height: 55vh;
  box-shadow: 0 0 20px rgba(255, 77, 148, 0.5);
    
}

/* ===== FILTERS ===== */
.filter-bar {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.filter-bar button {
  padding: 6px 12px;
  border: none;
  border-radius: 8px;
  background: #ff4d94;
  color: white;
  cursor: pointer;
}

.filter-bar button.active-filter {
  border: 2px solid white;
}

/* ===== SLIDER CONTAINER ===== */
.slider-bar {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 80%;
  max-width: 500px;
}

.slider-bar label {
  display: flex;
  flex-direction: column;
  font-weight: 600;
  color: #990033;
}

/* ===== SLIDER BASE ===== */
.slider-bar input[type="range"] {
  --fill: 50%;
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 8px;
  border-radius: 10px;
  outline: none;
  cursor: pointer;

  background: linear-gradient(
    to right,
    #ff4d94 0%,
    #ff4d94 var(--fill),
    #ffd1e6 var(--fill),
    #ffd1e6 100%
  );
}

/* ===== THUMB ===== */
.slider-bar input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #e6006f;
  box-shadow: 0 0 10px rgba(230, 0, 111, 0.6);
  margin-top: -4px;
}

.slider-bar input[type="range"]::-moz-range-thumb {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #e6006f;
  box-shadow: 0 0 10px rgba(230, 0, 111, 0.6);
}

/* Firefox filled part */
.slider-bar input[type="range"]::-moz-range-track {
  height: 8px;
  background: white;
  border-radius: 10px;
}

.slider-bar input[type="range"]::-moz-range-progress {
  height: 8px;
  background: #ff4d94;
  border-radius: 10px;
}

/* ===== TAKE PHOTO BUTTON ===== */

.take-btn {
  padding: 12px 25px;
  border: none;
  border-radius: 12px;
  background: #e6006f;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  box-shadow: 0 0 15px rgba(230, 0, 111, 0.4);
}
.take-btn:hover {
  opacity: 0.85;
}
.remove-bg-btn {
  padding: 12px 25px;
  border: none;
  border-radius: 12px;
  background: #ff4d94;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  box-shadow: 0 0 15px rgba(255, 77, 148, 0.4);
  margin-bottom: 10px; /* space between remove bg and take photo */
}
